# RStudio files
.Rproj.user
.Rprofile

# History files
.Rhistory
.Rapp.history

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Session Data files
.RData
.Rdata
.httr-oauth
.DS_Store

# Other
_snaps
.Ruserdata
.vscode/
tests/match_types.R
inst/Characteristic.CSV
tests/Characteristic.CSV
tests/states.R
tests/fruits.R
