# RStudio files
.Rproj.user
.Rprofile
!inst/app/.Rprofile

# History files
.Rhistory
.Rapp.history

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Session Data files
.RData
.Rdata
.httr-oauth
.DS_Store

# .Rbuildignore
manifest.json

# Other
_snaps
.Ruserdata
.vscode/
packrat/lib*/
